:root {
  --violet: #6A1B9A;
  --bleu: #1E88E5;
  --blanc: #ffffff;
  --gris-clair: #f3f3f3;
}

body {
  background-color: var(--blanc);
  font-family: 'Segoe UI', sans-serif;
}

.navbar-custom {
  background-color: var(--violet);
}

.btn-custom {
  background-color: var(--bleu);
  color: var(--blanc);
  border: none;
}

.btn-custom:hover {
  background-color: #1565c0;
}
