:root {
  --violet: #6A1B9A;
  --bleu: #1E88E5;
  --blanc: #ffffff;
  --gris-clair: #f3f3f3;
}

body {
  background: linear-gradient(to right, var(--violet), var(--bleu));
  color: var(--blanc);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


.navbar-custom {
  background-color: var(--violet);
}

.btn-custom {
  background-color: var(--bleu);
  color: var(--blanc);
  border: none;
}

.btn-custom:hover {
  background-color: #1565c0;
}

/* App.css */

body.dark-mode {
  background: linear-gradient(to right, #0f0f0f, #1a1a1a) !important;
  color: #ffffff !important;
}


.navbar.dark-mode {
  background-color: #1f1f1f !important;
}

.btn-custom.dark-mode {
  background-color: #444;
  color: white;
}

a.nav-link.dark-mode {
  color: #ccc !important;
}